* {
  box-sizing: border-box;
}

ul {padding: 0;
  margin: auto;
  list-style-type: none;
  justify-content: center
}

li {
  text-align: center;
}

.content {
  display: flex;
}

.catarea {
  width: 90%;
  text-align:
  center;
  }

.catlist {
  width: 10%;
  text-align:
  center;
}
